# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log

# Temp files
tmp/
temp/

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
tfplan
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive files
*.pem
*.key
.env